
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>ConnectedEcos | News</title>
    <style>
        body {font-family: oxanium;
          background: linear-gradient(180deg, #000000 0%, #252525 100%);
          }
      * {box-sizing: border-box;}
 
      .bg-img {
        /* The image used */
        background-image: url("images/corona/1.jpg");
        min-height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        /* Needed to position the navbar */
        position: relative;
      }
      .bg-img a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Position the navbar container inside the image */
      .container {
        /* position: absolute; */
        margin: 20px;
        width: auto;
        
      }
      
      /* The navbar */
      .topnav {
        overflow: hidden;
        float: right;
      }
      
      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
        border-radius: 5px;
      }
      #logo {
        float: left;
      }
      body {
      font-family: oxanium;
      margin: 0;
      padding: 0;
      
      color: white;
      }
      .dtcontainer {
      background-color: rgb(28, 28, 28,0.7);
      border: 1px solid #ffffff;
      padding: 10px;
      width: 550px;
      margin: 50px auto;
      text-align: center;
      border-radius: 0% 0% 15% 15%;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
      gap: 0px;
  }
    .dtcontainer h1 {
        font-size: 24px;
        margin: 0;
        padding-bottom: 10px;
        opacity: 100%;
    }
    .dtcontainer .highlight {
        font-size: 36px;
        color: #48CFFB;
        opacity: 100%;
    }
    .dtcontainer p {
        font-size: 14px;
        line-height: 1.6;
        color: #ccc;
        padding: 10px 0;
        opacity: 100%;
    }

    .dtcontainer .button {
        background-color: #666;
        border: none;
        padding: 10px 20px;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        opacity: 100%;
    }

    .dtcontainer .button:hover {
        background-color: #48CFFB;
        opacity: 100%;
    }
   
    #aus h3 {
        text-align: justify;
        margin: 30px;
        padding: 0px 30px 0px 30px;
        padding-bottom: 5px;
    }
    #footer {
    background: linear-gradient(180deg, #002B48 0%, #34556D 100%);
  }

    </style>
</head>
<body>
    <section  id="banner">
        <div class="bg-img">
          <a href="#"><img src="images/logo1.png" alt="logo" height="50px" width="50px"><span style="font-weight: 500; font-size: 25px;">Connected</span><span style="font-size:35px;color:#48CFFB; font-weight: 700;">Ecos</span></a>
      <div class="container">
        <div class="topnav">

          <a href="/">Home</a>
          <a href="/sun">Sun</a>
          <a href="/news">News</a>
          <a href="#">Contact</a>
          <a href="#about">About</a>
          <a href="#profile"><i class="glyphicon glyphicon-user"></i></a>
        </div>
</div><br><br><br>
            
          </div>
        </div>
    </section>
    <section id="aus">
        <center> <h1> The Invisible Enemy: COVID-19 Pandemic</h1></center>
        <h3>The COVID-19 pandemic, caused by the SARS-CoV-2 virus, swept across the globe
            in early 2020, bringing unprecedented challenges to humanity. Originating in Wuhan, China,
            the virus quickly spread worldwide, leading to widespread illness, death, and societal
            disruption.
            

            The cyclone destroyed the port, sank hundreds of ships, and claimed around **20,000 lives**. The lack of preparedness exacerbated the destruction, leaving neighborhoods in ruins and thousands displaced. Despite its significant impact, the event remains largely overlooked in historical records. This tragedy underscores the need for better disaster preparedness in vulnerable coastal areas.
            <center><h2 style="font-weight: 600; font-size: 40px;" >Impact</h2></center>
        <h3><span style="font-weight: 700; font-size: larger;">Global Health Crisis : </span>Over 6.9 million deaths have been recorded worldwide, with
            millions more affected by long-term health issues. The pandemic overwhelmed
            healthcare systems, leading to a global scramble for resources.
            
            </h3>
            <center><img src="images/corona/2.jpeg" alt="" style="width: 50rem;"></center>
            <h3><span style="font-weight: 700; font-size: larger;">Economic Shockwave : </span> The pandemic triggered one of the most severe global
                recessions, with economies shrinking, businesses closing, and unemployment rates
                soaring. The impact was felt across all sectors, with the most vulnerable populations
                suffering the most.
            </h3><center><img src="images/corona/3.jpeg" alt="" height="450px"></center>
            <h3><span style="font-weight: 700; font-size: larger;">Social and Psychological Impact : </span>  Lockdowns, social distancing, and isolation
                measures took a toll on mental health, with an increase in anxiety, depression, and
                other psychological issues. The pandemic also exposed and exacerbated existing
social inequalities.
            </h3><center><img src="images/corona/6.jpg" alt="" height="450px"></center>
            <h3><span style="font-weight: 700; font-size: larger;">Environmental Impact : </span>  Interestingly, the pandemic led to a temporary reduction in
                pollution levels due to lockdowns, offering a glimpse of what a more sustainable
                world could look like.
    </section>
    <section id="footer" class="fade-in">
    <div class="container">
      <div class="row" style="float: right; padding: 20px; ">
        <div class="col-sm-6">
          <div class="foot">
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Main Page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Sun page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>News Page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Contact Us</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>About Page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Privacy Policy</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="foot">
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Wildfire</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>AirQuality</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Volcano</p>
            </a>
          </div>
        </div>
        <hr>
      </div>
      <hr>
    </div>
    <hr>
    <center>
      <p>@ Copyright 2024 ConnectedEcos. All Rights Reserved</p>
    </center>
  </section>
</body>
</html>