<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>ConnectedEcos | News</title>
    <style>
        body {font-family: oxanium;
          background: linear-gradient(180deg, #000000 0%, #252525 100%);
          }
      * {box-sizing: border-box;}
 
      .bg-img {
        /* The image used */
        background-image: url("images/cyclone/1.avif");
        min-height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        /* Needed to position the navbar */
        position: relative;
      }
      .bg-img a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      /* Position the navbar container inside the image */
      .container {
        /* position: absolute; */
        margin: 20px;
        width: auto;
        
      }
      
      /* The navbar */
      .topnav {
        overflow: hidden;
        float: right;
      }
      
      /* Navbar links */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
        border-radius: 5px;
      }
      #logo {
        float: left;
      }
      body {
      font-family: oxanium;
      margin: 0;
      padding: 0;
      
      color: white;
      }
      .dtcontainer {
      background-color: rgb(28, 28, 28,0.7);
      border: 1px solid #ffffff;
      padding: 10px;
      width: 550px;
      margin: 50px auto;
      text-align: center;
      border-radius: 0% 0% 15% 15%;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
      gap: 0px;
  }
    .dtcontainer h1 {
        font-size: 24px;
        margin: 0;
        padding-bottom: 10px;
        opacity: 100%;
    }
    .dtcontainer .highlight {
        font-size: 36px;
        color: #48CFFB;
        opacity: 100%;
    }
    .dtcontainer p {
        font-size: 14px;
        line-height: 1.6;
        color: #ccc;
        padding: 10px 0;
        opacity: 100%;
    }

    .dtcontainer .button {
        background-color: #666;
        border: none;
        padding: 10px 20px;
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        opacity: 100%;
    }

    .dtcontainer .button:hover {
        background-color: #48CFFB;
        opacity: 100%;
    }
   
    #aus h3 {
        text-align: justify;
        margin: 30px;
        padding: 0px 30px 0px 30px;
        padding-bottom: 5px;
    }
    #footer {
    background: linear-gradient(180deg, #002B48 0%, #34556D 100%);
  }

    </style>
</head>
<body>
    <section  id="banner">
        <div class="bg-img">
          <a href="#"><img src="images/logo1.png" alt="logo" height="50px" width="50px"><span style="font-weight: 500; font-size: 25px;">Connected</span><span style="font-size:35px;color:#48CFFB; font-weight: 700;">Ecos</span></a>
      <div class="container">
        <div class="topnav">

          <a href="/">Home</a>
          <a href="/sun">Sun</a>
          <a href="/news">News</a>
          <a href="#">Contact</a>
          <a href="#about">About</a>
          <a href="#profile"><i class="glyphicon glyphicon-user"></i></a>
        </div>
</div><br><br><br>
            
          </div>
        </div>
    </section>
    <section id="aus">
        <center> <h1>The Forgotten Catastrophe: 1839 Coringa Cyclone</h1></center>
        <h3>**The Forgotten Catastrophe: 1839 Coringa Cyclone** recounts a devastating disaster that struck Coringa (now Kakinada), India, on November 25, 1839. This cyclone, one of the deadliest in Indian history, unleashed fierce winds and heavy rain, causing a massive storm surge that devastated the town.

            The cyclone destroyed the port, sank hundreds of ships, and claimed around **20,000 lives**. The lack of preparedness exacerbated the destruction, leaving neighborhoods in ruins and thousands displaced. Despite its significant impact, the event remains largely overlooked in historical records. This tragedy underscores the need for better disaster preparedness in vulnerable coastal areas.
            <center><h2 style="font-weight: 600; font-size: 40px;" >Impact</h2></center>
        <h3><span style="font-weight: 700; font-size: larger;">Human Devastation : </span>Approximately 300,000 people perished, and the once-bustling
            port city was reduced to ruins. The cyclone destroyed all 200,000 ships in the harbor
            and swept away countless homes.
            </h3>
            <center><img src="images/cyclone/2.avif" alt="" style="width: 50rem;"></center>
            <h3><span style="font-weight: 700; font-size: larger;">Historical Footnote : </span> Coringa was never rebuilt to its former glory, with the disaster
                serving as a tragic chapter in India's maritime history.
            </h3><center><img src="images/flood/3.jpg" alt="" height="450px"></center>
            <h3><span style="font-weight: 700; font-size: larger;">Environmental and Economic Loss : </span>  The cyclone not only took lives but also
                obliterated the local economy and altered the region's geography, leaving a lasting
                impact on the area.
            </h3><center><img src="images/wildfire/fire-10.jpeg" alt="" height="450px"></center>
    </section>
    <section id="footer" class="fade-in">
    <div class="container">
      <div class="row" style="float: right; padding: 20px; ">
        <div class="col-sm-6">
          <div class="foot">
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Main Page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Sun page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>News Page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Contact Us</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>About Page</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Privacy Policy</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="foot">
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Wildfire</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>AirQuality</p>
            </a>
            <a href="#" style=" text-decoration: none; color: #ccc;">
              <p>Volcano</p>
            </a>
          </div>
        </div>
        <hr>
      </div>
      <hr>
    </div>
    <hr>
    <center>
      <p>@ Copyright 2024 ConnectedEcos. All Rights Reserved</p>
    </center>
  </section>
</body>
</html>