<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <title>ConnectedEcos | News</title>
    <style>
      body {font-family: oxanium; background: linear-gradient(180deg, #000000
      0%, #252525 100%); } * {box-sizing: border-box;} .bg-img { /* The image
      used */ background-image: url("images/gradient.jpg"); min-height: 70px;
      background-position: center; background-repeat: no-repeat;
      background-size: cover; /* Needed to position the navbar */ position:
      relative; } .bg-img a { float: left; color: #f2f2f2; text-align: center;
      padding: 14px 16px; text-decoration: none; font-size: 17px; } /* Position
      the navbar container inside the image */ .container { /* position:
      absolute; */ margin: 20px; width: auto; } /* The navbar */ .topnav {
      overflow: hidden; float: right; margin: 20px; } /* Navbar links */ .topnav
      a { float: left; color: #f2f2f2; text-align: center; padding: 14px 16px;
      text-decoration: none; font-size: 17px; } .topnav a:hover {
      background-color: #ddd; color: black; border-radius: 5px; } #logo { float:
      left; } body { font-family: oxanium; margin: 0; padding: 0; color: white;
      } .dtcontainer { background-color: rgb(28, 28, 28,0.7); border: 1px solid
      #ffffff; padding: 10px; width: 550px; margin: 50px auto; text-align:
      center; border-radius: 0% 0% 15% 15%; box-shadow: 0 0 15px rgba(255, 255,
      255, 0.2); gap: 0px; } .dtcontainer h1 { font-size: 24px; margin: 0;
      padding-bottom: 10px; opacity: 100%; } .dtcontainer .highlight {
      font-size: 36px; color: #48CFFB; opacity: 100%; } .dtcontainer p {
      font-size: 14px; line-height: 1.6; color: #ccc; padding: 10px 0; opacity:
      100%; } .dtcontainer .button { background-color: #666; border: none;
      padding: 10px 20px; color: white; font-size: 14px; text-transform:
      uppercase; border-radius: 5px; cursor: pointer; transition:
      background-color 0.3s ease; opacity: 100%; } .dtcontainer .button:hover {
      background-color: #48CFFB; opacity: 100%; } #news { border: 1px solid
      #48CFFB; } /* #news .n1 { background-image: url("images/intnews1.webp");
      min-height: 400px; background-position: center; background-repeat:
      no-repeat; background-size: cover; } */ #news h1{ margin: 20px; }

    </style>
  </head>
  <body>
    <section id="banner">
      <div class="bg-img">
        <a href="#"><img
            src="images/logo1.png"
            alt="logo"
            height="50px"
            width="50px"
          /><span
            style="font-weight: 500; font-size: 25px;"
          >Connected</span><span
            style="font-size:35px;color:#48CFFB; font-weight: 700;"
          >Ecos</span></a>
        <div class="container">
          <div class="topnav">
            <a href="/">Home</a>
            <a href="/sun">Sun</a>
            <a href="/news">News</a>
            <a href="#" class="dropbtn">Maps</a>

            <a href="#contact">Contact</a>
            <a href="#">About</a>
          </div>
        </div>
      </div>
    </section>
    <section id="data">
      <iframe
        src="https://environment-playground.ue.r.appspot.com/"
        width="100%"
        height="800px"
      ></iframe>
    </section>
  </body>
</html>